{% load static %}
{# Assets for core.phone.InternationalPhoneInput. Include once in <head> of any page rendering a phone field. #}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@29.5.3/dist/css/intlTelInput.min.css" integrity="sha384-khdvUrzJNN6Jw9yHboN6430RRijNf+nAlKcZv0a5IrkTjwZpwgJ9fzD3kjbqhOyZ" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/intl-phone.css' %}">
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@29.5.3/dist/js/intlTelInputWithUtils.min.js" integrity="sha384-BaDPu1JPrKMlyt17EqDudDB7+Kii733b0P665729w1WD1izDFe9luGQ+afj/2Tpm" crossorigin="anonymous" defer></script>
<script src="{% static 'js/intl-phone.js' %}" defer></script>
